USE [master]
GO
/****** Object:  Database [KLTN]    Script Date: 10/11/2020 12:32:57 PM ******/
CREATE DATABASE [KLTN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KLTN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\KLTN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KLTN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\KLTN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KLTN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KLTN]
GO
/****** Object:  Table [dbo].[Badges]    Script Date: 10/11/2020 12:32:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badges](
	[Id] [int] NOT NULL,
	[UserId] [int] NULL,
	[Content] [nvarchar](255) NULL,
	[DateAchieved] [date] NULL,
	[Reputation] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] NOT NULL,
	[PostId] [int] NULL,
	[Score] [int] NULL,
	[Content] [text] NULL,
	[CreationDate] [date] NULL,
	[UserDisplayName] [nvarchar](255) NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PendingFlags]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendingFlags](
	[Id] [int] NOT NULL,
	[FlagTypeId] [int] NULL,
	[PostId] [int] NULL,
	[CreationDate] [date] NULL,
	[CloseReasonTypeId] [int] NULL,
	[CloseAsOffTopicReasonTypeId] [int] NULL,
	[DuplicateOfQuestionId] [int] NULL,
	[BelongsOnBaseHostAddress] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostFeedback]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostFeedback](
	[Id] [int] NOT NULL,
	[PostId] [int] NULL,
	[IsAnonymous] [int] NULL,
	[Content] [text] NULL,
	[CreationDate] [date] NULL,
	[isAcceptedAnswer] [int] NULL,
	[UserId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostHistory]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostHistory](
	[Id] [int] NOT NULL,
	[PostHistoryTypeId] [int] NULL,
	[PostId] [int] NULL,
	[RevisionGUID] [int] NULL,
	[CreationDate] [date] NULL,
	[UserId] [int] NULL,
	[UserDisplayName] [int] NULL,
	[Comment] [text] NULL,
	[Content] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostLinks]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostLinks](
	[Id] [int] NOT NULL,
	[CreationDate] [date] NULL,
	[PostId] [int] NULL,
	[RelatedPostId] [int] NULL,
	[LinkTypeId] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] NOT NULL,
	[PostTypeId] [int] NULL,
	[ParentId] [int] NULL,
	[CreationDate] [date] NULL,
	[Score] [int] NULL,
	[ViewCount] [int] NULL,
	[OwnerUserId] [int] NULL,
	[LastEditorUserId] [int] NULL,
	[LastEditorDisplayName] [nvarchar](255) NULL,
	[LastActivityDate] [date] NULL,
	[Title] [nvarchar](255) NULL,
	[Tags] [nvarchar](255) NULL,
	[AnswerCount] [int] NULL,
	[CommentCount] [int] NULL,
	[FavouriteCount] [int] NULL,
	[ClosedDate] [date] NULL,
	[CommunityOwnedDate] [date] NULL,
	[isAudioQuestion] [int] NULL,
	[Content] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewRejectionReasons]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewRejectionReasons](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Descriptions] [text] NULL,
	[PostTypeId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewTaskResults]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewTaskResults](
	[Id] [int] NOT NULL,
	[ReviewTaskId] [int] NULL,
	[ReviewTaskResultTypeId] [int] NULL,
	[CreationDate] [date] NULL,
	[RejectionReasonId] [int] NULL,
	[Comment] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewTasks]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewTasks](
	[Id] [int] NOT NULL,
	[ReviewTaskTypeId] [int] NULL,
	[CreationDate] [date] NULL,
	[DeletionDate] [date] NULL,
	[ReviewTaskStateId] [int] NULL,
	[PostId] [int] NULL,
	[SuggestedEditId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewTaskStates]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewTaskStates](
	[Id] [int] NOT NULL,
	[ReviewTaskStatesName] [nvarchar](255) NULL,
	[Descriptions] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuggestedEdits]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuggestedEdits](
	[Id] [int] NOT NULL,
	[PostId] [int] NULL,
	[CreationDate] [int] NULL,
	[ApprovalDate] [date] NULL,
	[RejectionDate] [date] NULL,
	[OwnerUserId] [int] NULL,
	[Comment] [text] NULL,
	[Content] [text] NULL,
	[Title] [nvarchar](255) NULL,
	[Tags] [nvarchar](255) NULL,
	[RevisionGUID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuggestedEditVotes]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuggestedEditVotes](
	[Id] [int] NOT NULL,
	[SuggestedEditId] [int] NULL,
	[UserId] [int] NULL,
	[VoteTypeId] [int] NULL,
	[CreationDate] [date] NULL,
	[TargetUserId] [int] NULL,
	[TargetRepChange] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] NOT NULL,
	[TagName] [nvarchar](255) NULL,
	[CountNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagSynonyms]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagSynonyms](
	[Id] [int] NOT NULL,
	[SourceTagName] [nvarchar](255) NULL,
	[TargetTagName] [nvarchar](255) NULL,
	[CreationDate] [int] NULL,
	[OwnerUserId] [int] NULL,
	[AutoRenameCount] [int] NULL,
	[LastAutoRename] [date] NULL,
	[Score] [int] NULL,
	[ApprovedByUserId] [int] NULL,
	[ApprovalDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] NOT NULL,
	[CreationDate] [date] NULL,
	[DisplayName] [nvarchar](255) NULL,
	[LastAccessDate] [date] NULL,
	[WebsiteUrl] [nvarchar](255) NULL,
	[Region] [nvarchar](255) NULL,
	[AboutMe] [text] NULL,
	[UpVotes] [int] NULL,
	[DownVotes] [int] NULL,
	[ProfileImageUrl] [text] NULL,
	[Email] [text] NULL,
	[Age] [int] NULL,
	[PasswordHash] [text] NULL,
	[Account] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Votes]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Votes](
	[Id] [int] NOT NULL,
	[PostId] [int] NULL,
	[VoteTypeId] [int] NULL,
	[UserId] [int] NULL,
	[CreationDate] [date] NULL,
	[BountyAmount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VoteType]    Script Date: 10/11/2020 12:32:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VoteType](
	[Id] [int] NOT NULL,
	[VoteValue] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Badges] ([Id], [UserId], [Content], [DateAchieved], [Reputation]) VALUES (1, 1, N'Bronze', CAST(N'2020-10-01' AS Date), 100)
INSERT [dbo].[Badges] ([Id], [UserId], [Content], [DateAchieved], [Reputation]) VALUES (2, 2, N'Sliver', CAST(N'2020-10-01' AS Date), 100)
INSERT [dbo].[Comments] ([Id], [PostId], [Score], [Content], [CreationDate], [UserDisplayName], [UserId]) VALUES (1, 1, 0, N'Her people had not created the path—it had always been there', CAST(N'2020-10-01' AS Date), NULL, 2)
INSERT [dbo].[Comments] ([Id], [PostId], [Score], [Content], [CreationDate], [UserDisplayName], [UserId]) VALUES (2, 2, 0, N'and their livelihood took them on a continual journey', CAST(N'2020-10-01' AS Date), NULL, 1)
INSERT [dbo].[Comments] ([Id], [PostId], [Score], [Content], [CreationDate], [UserDisplayName], [UserId]) VALUES (3, 3, 0, N'and their livelihood took them on a continual journey', CAST(N'2020-10-01' AS Date), NULL, 2)
INSERT [dbo].[PostFeedback] ([Id], [PostId], [IsAnonymous], [Content], [CreationDate], [isAcceptedAnswer], [UserId]) VALUES (1, 1, NULL, N'oon Lara spotted other landmarks—an outcropping of limestone beside the path that had a silhouette like a man’s face, a marshy spot beside the river where the waterfowl were easily startled, a tall tree that looked like a man with his arms upraised', CAST(N'2020-10-01' AS Date), 0, 1)
INSERT [dbo].[PostFeedback] ([Id], [PostId], [IsAnonymous], [Content], [CreationDate], [isAcceptedAnswer], [UserId]) VALUES (2, 2, NULL, N'oon Lara spotted other landmarks—an outcropping of limestone beside the path that had a silhouette like a man’s face, a marshy spot beside the river where the waterfowl were easily startled, a tall tree that looked like a man with his arms upraised', CAST(N'2020-10-01' AS Date), 0, 1)
INSERT [dbo].[PostFeedback] ([Id], [PostId], [IsAnonymous], [Content], [CreationDate], [isAcceptedAnswer], [UserId]) VALUES (3, 3, NULL, N'oon Lara spotted other landmarks—an outcropping of limestone beside the path that had a silhouette like a man’s face, a marshy spot beside the river where the waterfowl were easily startled, a tall tree that looked like a man with his arms upraised', CAST(N'2020-10-01' AS Date), 0, 2)
INSERT [dbo].[Posts] ([Id], [PostTypeId], [ParentId], [CreationDate], [Score], [ViewCount], [OwnerUserId], [LastEditorUserId], [LastEditorDisplayName], [LastActivityDate], [Title], [Tags], [AnswerCount], [CommentCount], [FavouriteCount], [ClosedDate], [CommunityOwnedDate], [isAudioQuestion], [Content]) VALUES (1, 1, NULL, CAST(N'2020-10-01' AS Date), 20, 20, 1, 1, N'Huy', CAST(N'2020-10-01' AS Date), N'What is different between this and that', N'What', 0, 0, 0, NULL, NULL, 0, N'could you please explain for me clearly what is the different between them and give some example')
INSERT [dbo].[Posts] ([Id], [PostTypeId], [ParentId], [CreationDate], [Score], [ViewCount], [OwnerUserId], [LastEditorUserId], [LastEditorDisplayName], [LastActivityDate], [Title], [Tags], [AnswerCount], [CommentCount], [FavouriteCount], [ClosedDate], [CommunityOwnedDate], [isAudioQuestion], [Content]) VALUES (2, 1, NULL, CAST(N'2020-10-01' AS Date), 20, 20, 1, 1, N'Huy', CAST(N'2020-10-01' AS Date), N'What is different between study and learn', N'What', 0, 0, 0, NULL, NULL, 0, N'could you please explain for me clearly what is the different between them and give some example')
INSERT [dbo].[Posts] ([Id], [PostTypeId], [ParentId], [CreationDate], [Score], [ViewCount], [OwnerUserId], [LastEditorUserId], [LastEditorDisplayName], [LastActivityDate], [Title], [Tags], [AnswerCount], [CommentCount], [FavouriteCount], [ClosedDate], [CommunityOwnedDate], [isAudioQuestion], [Content]) VALUES (3, 1, NULL, CAST(N'2020-10-01' AS Date), 20, 20, 1, 1, N'Huy', CAST(N'2020-10-01' AS Date), N'Some common greeting like hi or hello', N'Some', 0, 0, 0, NULL, NULL, 0, N'I need some greeting like hi and hello ')
INSERT [dbo].[Tags] ([Id], [TagName], [CountNumber]) VALUES (1, N'Some', 2)
INSERT [dbo].[Tags] ([Id], [TagName], [CountNumber]) VALUES (2, N'What', 2)
INSERT [dbo].[Tags] ([Id], [TagName], [CountNumber]) VALUES (3, N'How', 2)
INSERT [dbo].[Users] ([Id], [CreationDate], [DisplayName], [LastAccessDate], [WebsiteUrl], [Region], [AboutMe], [UpVotes], [DownVotes], [ProfileImageUrl], [Email], [Age], [PasswordHash], [Account]) VALUES (1, CAST(N'2020-10-01' AS Date), N'Võ Quốc Huy', CAST(N'2020-10-01' AS Date), N'https://www.facebook.com/huy.voquoc.167/', N'VietNam', N'huy dep trai vip pro', 1000, 0, NULL, N'voquochuy798@gmail.com', 22, N'admin', N'admin')
INSERT [dbo].[Users] ([Id], [CreationDate], [DisplayName], [LastAccessDate], [WebsiteUrl], [Region], [AboutMe], [UpVotes], [DownVotes], [ProfileImageUrl], [Email], [Age], [PasswordHash], [Account]) VALUES (2, CAST(N'2020-10-01' AS Date), N'Trần Ngọc Hưng', CAST(N'2020-10-01' AS Date), N'https://www.facebook.com/tranngochung.0510/', N'VietNam', N'hung', 1000, 0, NULL, N'hungteddy@gmail.com', 22, N'admin1', N'admin1')
INSERT [dbo].[Votes] ([Id], [PostId], [VoteTypeId], [UserId], [CreationDate], [BountyAmount]) VALUES (1, 1, 1, 2, CAST(N'2020-10-01' AS Date), NULL)
INSERT [dbo].[Votes] ([Id], [PostId], [VoteTypeId], [UserId], [CreationDate], [BountyAmount]) VALUES (2, 1, 1, 1, CAST(N'2020-10-01' AS Date), NULL)
INSERT [dbo].[Votes] ([Id], [PostId], [VoteTypeId], [UserId], [CreationDate], [BountyAmount]) VALUES (3, 2, 1, 1, CAST(N'2020-10-01' AS Date), NULL)
INSERT [dbo].[VoteType] ([Id], [VoteValue]) VALUES (1, 0)
INSERT [dbo].[VoteType] ([Id], [VoteValue]) VALUES (2, 1)
ALTER TABLE [dbo].[Badges]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[PostFeedback] ([Id])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PendingFlags]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[PostFeedback]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[PostFeedback]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PostHistory]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[PostHistory]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[PostLinks]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ReviewTasks]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[SuggestedEdits]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[SuggestedEditVotes]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TagSynonyms]  WITH CHECK ADD FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Votes]  WITH CHECK ADD FOREIGN KEY([VoteTypeId])
REFERENCES [dbo].[VoteType] ([Id])
GO
USE [master]
GO
